<% include ../partials/header %>

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <form action="/movies/<%= movie._id %>/comments" method="POST">
      <legend>Add new comment to <%= movie.name %></legend>
      <div class="form-group">
        <textarea name="comment[text]" cols="36" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </div>
    </form>
    <a href="/movies">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>