<% include ../partials/header %>

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <form action="/movies" method="POST" enctype="multipart/form-data">
      <legend>Create New Movie</legend>
      <div class="form-group">
        <label for="name">Name *</label>
        <input class="form-control" id="name" type="name" name="movie[name]" placeholder="Name" autofocus required>
      </div>
      <div class="form-group">
        <label for="description">Description *</label>
        <textarea name="movie[description]" id="description" cols="36" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <label for="rating">Rating *</label>
        <input class="form-control" id="rating" type="number" name="movie[rating]" placeholder="Rating" max="10" min="0" step="1" required>
      </div>
      <div class="form-group">
        <label for="image">Upload Image *</label>
        <input class="form-control-file" id="image" type="file" name="image" accept="image/*" required>
      </div>
      <h6 class="text-muted">* Required</h6>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </div>
    </form>
    <a class="btn btn-primary btn-sm" href="/movies">Back</a>
  </div>
</div>

<% include ../partials/footer %>